<div class="main_div">
  <mat-card *ngIf="isLoaded === true">
    <mat-card-header>
      <h3>Edit author: {{ author.name }} {{ author.surname }}</h3>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userForm">
        <p>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Surname" formControlName="surname" />
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-icon-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="!userForm.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="isLoaded === false">
    <mat-card-content>
      <p>Loading...</p>
    </mat-card-content>
  </mat-card>
</div>
